.App {
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

#preview-container {
	padding: 8px;
	background-color: beige;
}

#editor, #preview {
  margin: 8px;
  width: 100%;
}

@media screen and (min-width: 768px) {	
	.row {
		display: flex;		
	}
	#editor, #preview {
	  width: 50%;
	}
}